/*----- Global -----*/
@use './global.scss';

/*----- Includes -----*/
@use './includes/colors';
@use './includes/mixins';
@use './includes/typography';
@use './includes/variables';

/*----- Components -----*/
@use './components/header.scss';
@use './components/logo.scss';
@use './components/navbar.scss';
@use './components/ham.scss';
@use './components/footer.scss';
@use './components/socialMedia.scss';

/*----- Views -----*/
@use './views/home.scss';
@use './views/about.scss';
@use './views/works.scss';
@use './views/services.scss';
@use './views/contact.scss';
@use './views/errorPage.scss';

/*----- Google Fonts ------*/

// Kurale font
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

// Montserrat font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Poppins font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
