<section class="services-quote-wrapper">
  <blockquote class="services-blockquote" data-aos="zoom-out" data-aos-duration="1500">
    <p class="services-quote"><q>When one plants a tree they plant themselves. Every root is an anchor, over which one rests with grateful interests, and becomes sufficiently calm to feel the joy of living.</q></p>
    <p class="services-author capital">—John Muir</p>
    <a class="services-quote-btn capital" href="/Works">see our works</a>
  </blockquote>
</section>