<section class="form-wrapper">
  <form action="" class="contact-form" id="contact-form">
    <fieldset class="contact-field">
      <legend>Contact Us</legend>
      <div class="contact-div">
        <label for="fullname-input" class="form-label"><i class="fa-solid fa-user"></i> Fullname</label>
        <input type="text" class="form-input" name="fullname" id="fullname-input">
      </div>
      <div class="contact-div">
        <label for="email-input" class="form-label"><i class="fa-solid fa-envelope"></i> Email</label>
        <input type="email" class="form-input" name="email" id="email-input">
      </div>
      <div class="contact-div">
        <label for="phone-input" class="form-label"><i class="fa-solid fa-phone"></i> Phone</label>
        <input type="tel" class="form-input" name="phone" id="phone-input">
      </div>
      <div class="contact-div">
        <label for="subject-input" class="form-label"><i class="fa-solid fa-pen-to-square"></i> Subject</label>
        <input type="text" class="form-input" name="subject" id="subject-input">
      </div>
      <div class="contact-div">
        <label for="message-input" class="form-label"><i class="fa-solid fa-message"></i> Message</label>
        <textarea name="message" class="form-textarea" rows="5" id="message-input"></textarea>
      </div>
    </fieldset>
    <div class="form-buttons">
      <button type="submit" class="form-btn send-btn"><i class="fa-solid fa-paper-plane"></i> Send</button>
      <button type="reset" class="form-btn clear-btn"><i class="fa-solid fa-broom"></i> Clear</button>
    </div>
  </form>
</section>