<section class="hero-home-section">
  <h1 class="hero-home-title">Landscapist Website</h1>
  <p class="hero-home-subtitle">Encouraging Natural Beauty</p>
  <a class="hero-home-btn" href="/Services">Our Services</a>
</section>