<section class="home-intro-wrapper">
  <section class="home-intro-section">
    <article class="home-introduction">
      <h2 class="home-intro-title">Elegant artistry on beautifying nature</h2>
      <p class="home-intro-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam illo architecto repellat nostrum vero at optio ratione ullam, nulla ducimus nesciunt et aperiam atque magnam quis? Consequuntur ea quia iure!</p>
      <a class="home-intro-btn" href="/Works">Explore our works</a>
    </article>
  </section>
</section>