<section class="home-services-wrapper">
  <article class="home-services-container bg-grey">
    <figure class="home-services-figure">
      <img src="/images/garden-home.jpg" alt="">
    </figure>
    <section class="home-services-content">
      <h2 class="home-services-title">Eye-Catching Garden Design</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet rerum nesciunt explicabo reprehenderit vel vero impedit modi nihil praesentium! Velit quae doloribus deserunt? Distinctio, veniam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio doloribus, quo totam nobis minus fugit quis voluptate eveniet sequi explicabo id quod eos et, similique sit sunt at reiciendis voluptatibus nisi ipsum aliquam. Consequuntur, provident.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo reiciendis numquam, commodi tenetur iste deserunt nam asperiores illum vel quo.</p>
      <a href="/Contact" class="home-services-btn">Get A Quote</a>
    </section>
  </article>
  <article class="home-services-container inverted-row">
    <figure class="home-services-figure">
      <img src="/images/residential-home.jpg" alt="">
    </figure>
    <section class="home-services-content">
      <h2 class="home-services-title">custom residential landscaping</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet rerum nesciunt explicabo reprehenderit vel vero impedit modi nihil praesentium! Velit quae doloribus deserunt? Distinctio, veniam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio doloribus, quo totam nobis minus fugit quis voluptate eveniet sequi explicabo id quod eos et, similique sit sunt at reiciendis voluptatibus nisi ipsum aliquam. Consequuntur, provident.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo reiciendis numquam, commodi tenetur iste deserunt nam asperiores illum vel quo.</p>
      <a href="/Contact" class="home-services-btn">Get A Quote</a>
    </section>
  </article>
  <section class="home-services-quote">
    <blockquote class="home-services-blockquote">
      <p class="home-blockquote-quote"><q>The garden reconciles human art and wild nature, hard work and deep pleasure, spiritual practice and the material world. It is a magical place because it is not divided.</q></p>
      <p class="home-blockquote-author">—Thomas Moore</p>
    </blockquote>
  </section>
  <article class="home-services-container">
    <figure class="home-services-figure">
      <img src="/images/turf-home.jpg" alt="">
    </figure>
    <section class="home-services-content">
      <h2 class="home-services-title">Clean Turf Management</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet rerum nesciunt explicabo reprehenderit vel vero impedit modi nihil praesentium! Velit quae doloribus deserunt? Distinctio, veniam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio doloribus, quo totam nobis minus fugit quis voluptate eveniet sequi explicabo id quod eos et, similique sit sunt at reiciendis voluptatibus nisi ipsum aliquam. Consequuntur, provident.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo reiciendis numquam, commodi tenetur iste deserunt nam asperiores illum vel quo.</p>
      <a href="/Contact" class="home-services-btn">Get A Quote</a>
    </section>
  </article>
  <article class="home-services-container inverted-row bg-grey">
    <figure class="home-services-figure">
      <img src="/images/mowing-home.jpg" alt="">
    </figure>
    <section class="home-services-content">
      <h2 class="home-services-title">proficient mowing techniques</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet rerum nesciunt explicabo reprehenderit vel vero impedit modi nihil praesentium! Velit quae doloribus deserunt? Distinctio, veniam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio doloribus, quo totam nobis minus fugit quis voluptate eveniet sequi explicabo id quod eos et, similique sit sunt at reiciendis voluptatibus nisi ipsum aliquam. Consequuntur, provident.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo reiciendis numquam, commodi tenetur iste deserunt nam asperiores illum vel quo.</p>
      <a href="/Contact" class="home-services-btn">Get A Quote</a>
    </section>
  </article>
</section>