---
import Layout from "@layouts/Layout.astro";
import { routes } from "src/config/routes.config";

const { home } = routes
---

<Layout
  title="Page Not Found | Landscapist"
  description="The page you're looking for doesn't exist."
  noindex={true}
  nofollow={true}
>
  <main id="error-main">
    <section class="error-section" aria-labelledby="error-title">
      <h1 class="error-title" id="error-title">
        404 - Page Not Found
      </h1>
      <p class="error-subtitle">Sorry, the page you're looking for doesn't exist.</p>
      <p class="error-text">Click on the button below to get back.</p>
      <a class="error-btn" href={home.href} title=`Go back to ${home.label} page`>
        Go Back to Site
      </a>
    </section>
  </main>
</Layout>