---
import Layout from "../layouts/Layout.astro";

import Header from '../components/Header.astro';
import Logo from '../components/Logo.astro';
import Navbar from '../components/Navbar.astro';
import ContactWrapper from './Contact/ContactWrapper.astro';
import ContactForm from "./Contact/ContactForm.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Landscapist: About">
	<Header>
		<Logo />
		<Navbar />
	</Header>
  <main>
		<ContactWrapper>
			<ContactForm />
		</ContactWrapper>
  </main>
  <Footer />
	<script src="../scripts/contactValidation.js"></script>
</Layout>