---
import Layout from '@layouts/Layout.astro';

import Header from '@components/Header.astro';
import Logo from '@components/Logo.astro';
import Navbar from '@components/Navbar.astro';
import Hero from '@components/Home/Hero.astro';
import Intro from '@components/Home/Intro.astro';
import Services from '@components/Home/Services.astro';
import ContactSection from '@components/Home/ContactSection.astro';
import Footer from '@components/Footer.astro';
---

<Layout>
	<Header>
		<Logo />
		<Navbar />
	</Header>
	<main>
		<Hero />
		<Intro />
		<Services />
		<ContactSection />
	</main>
	<Footer />
	<script src="../scripts/ini/home.init.ts"></script>
</Layout>
