---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Logo from '../components/Logo.astro';
import Navbar from '../components/Navbar.astro';
import Hero from './Home/Hero.astro';
---

<Layout title="Landscapist">
	<Header>
		<Logo />
		<Navbar />
	</Header>
	<main>
		<Hero />
	</main>
</Layout>
