---
import Layout from "@layouts/Layout.astro";

import Header from '@components/Header.astro';
import Logo from '@components/Logo.astro';
import Navbar from '@components/Navbar.astro';
import ServicesIntro from "@components/Services/ServicesIntro.astro";
import ServicesSection from "@components/Services/ServicesSection.astro";
import ServiceCard from "@components/Services/ServiceCard.astro";
import ServicesQuote from "@components/Services/ServicesQuote.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="Landscapist: Services">
	<Header>
		<Logo />
		<Navbar />
	</Header>
  <main class="over-x">
    <ServicesIntro />
		<ServicesSection>
			<ServiceCard
				dataAos="flip-right"
				img="/images/services-img/services-img-1.jpg"
				alt="Blissful backyard design by a lake"
				titleId="eye-catching-landscaping-title"
				title="eye-catching landscaping"
				text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquam nesciunt, vel tempore magnam, doloribus nostrum ipsa consequatur repellendus ipsum, expedita iusto facere cumque possimus illo quas hic doloremque neque accusamus blanditiis dignissimos explicabo asperiores aut saepe. Fugiat quia recusandae voluptatem excepturi, quo praesentium aspernatur placeat odit laudantium."
			/>
			<ServiceCard
				reverse="reverse"
				dataAos="flip-left"
				img="/images/services-img/services-img-2.jpg"
				alt="A neat yard in a sunset landscape"
				titleId="turf-handling-title"
				title="turf handling"
				text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquam nesciunt, vel tempore magnam, doloribus nostrum ipsa consequatur repellendus ipsum, expedita iusto facere cumque possimus illo quas hic doloremque neque accusamus blanditiis dignissimos explicabo asperiores aut saepe. Fugiat quia recusandae voluptatem excepturi, quo praesentium aspernatur placeat odit laudantium."
			/>
			<ServiceCard
				dataAos="flip-right"
				img="/images/services-img/services-img-3.jpg"
				alt="Warm sun rising forestry work in a park"
				titleId="organic-forestry-title"
				title="organic forestry"
				text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquam nesciunt, vel tempore magnam, doloribus nostrum ipsa consequatur repellendus ipsum, expedita iusto facere cumque possimus illo quas hic doloremque neque accusamus blanditiis dignissimos explicabo asperiores aut saepe. Fugiat quia recusandae voluptatem excepturi, quo praesentium aspernatur placeat odit laudantium."
			/>
			<ServiceCard
				reverse="reverse"
				dataAos="flip-left"
				img="/images/services-img/services-img-4.jpg"
				alt="Delicate interior decoration above a meetings and gatherings table"
				titleId="greeny-beautifications-title"
				title="greeny beautifications"
				text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquam nesciunt, vel tempore magnam, doloribus nostrum ipsa consequatur repellendus ipsum, expedita iusto facere cumque possimus illo quas hic doloremque neque accusamus blanditiis dignissimos explicabo asperiores aut saepe. Fugiat quia recusandae voluptatem excepturi, quo praesentium aspernatur placeat odit laudantium."
			/>
			<ServiceCard
				dataAos="flip-right"
				img="/images/services-img/services-img-5.jpg"
				alt="Impressive central garden in a colonial-style mansion"
				titleId="gardens-structuring-title"
				title="gardens structuring"
				text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquam nesciunt, vel tempore magnam, doloribus nostrum ipsa consequatur repellendus ipsum, expedita iusto facere cumque possimus illo quas hic doloremque neque accusamus blanditiis dignissimos explicabo asperiores aut saepe. Fugiat quia recusandae voluptatem excepturi, quo praesentium aspernatur placeat odit laudantium."
			/>
			<ServiceCard
				reverse="reverse"
				dataAos="flip-left"
				img="/images/services-img/services-img-6.jpg"
				alt="A small and pretty front yard after a maintenance job."
				titleId="smooth-maintenance-title"
				title="smooth maintenance"
				text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquam nesciunt, vel tempore magnam, doloribus nostrum ipsa consequatur repellendus ipsum, expedita iusto facere cumque possimus illo quas hic doloremque neque accusamus blanditiis dignissimos explicabo asperiores aut saepe. Fugiat quia recusandae voluptatem excepturi, quo praesentium aspernatur placeat odit laudantium."
			/>
		</ServicesSection>
		<ServicesQuote />
  </main>
	<Footer />
</Layout>