---
import Layout from "../layouts/Layout.astro";

import Header from '../components/Header.astro';
import Logo from '../components/Logo.astro';
import Navbar from '../components/Navbar.astro';
import WorksIntro from './Works/WorksIntro.astro';
import LandscapeWork from "./Works/LandscapeWork.astro";
import WorksCards from "./Works/WorksCards.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Landscapist: Works">
	<Header>
		<Logo />
		<Navbar />
	</Header>
  <main class="works-main">
		<WorksIntro />
		<LandscapeWork 
			img="/images/works-img/landscape-work-1.jpg"
			alt="alt text"
			title="historic country house"
			text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita repudiandae alias commodi odit aliquam sed tempora, dolores ab? Et quod, rem ab sunt adipisci autem voluptatibus itaque neque minima deserunt sequi alias voluptas, quisquam dicta similique in perspiciatis exercitationem ratione numquam. Maiores quam excepturi dolorum hic neque cumque error nemo!"
		/>
		<WorksCards
			img1="/images/works-img/works-img-1.jpg"
			alt1="alt text"
			title1="interior design"
			text1="Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maiores, totam voluptas delectus vel nisi veniam dolorem facilis numquam laboriosam!"
			img2="/images/works-img/works-img-2.jpg"
			alt2="alt text"
			title2="pool paradise"
			text2="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor autem nisi ut cupiditate expedita pariatur provident aliquid beatae aspernatur iusto."
		/>
		<LandscapeWork 
			img="/images/works-img/landscape-work-2.jpg"
			alt="alt text"
			title="comfortable trees path"
			text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita repudiandae alias commodi odit aliquam sed tempora, dolores ab? Et quod, rem ab sunt adipisci autem voluptatibus itaque neque minima deserunt sequi alias voluptas, quisquam dicta similique in perspiciatis exercitationem ratione numquam. Maiores quam excepturi dolorum hic neque cumque error nemo!"
		/>
		<WorksCards
			img1="/images/works-img/works-img-3.jpg"
			alt1="alt text"
			title1="heavenly backyard"
			text1="Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maiores, totam voluptas delectus vel nisi veniam dolorem facilis numquam laboriosam!"
			img2="/images/works-img/works-img-4.jpg"
			alt2="alt text"
			title2="inspirations garden"
			text2="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor autem nisi ut cupiditate expedita pariatur provident aliquid beatae aspernatur iusto."
		/>
		<LandscapeWork 
			img="/images/works-img/landscape-work-3.jpg"
			alt="alt text"
			title="imposing mountains landscape"
			text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita repudiandae alias commodi odit aliquam sed tempora, dolores ab? Et quod, rem ab sunt adipisci autem voluptatibus itaque neque minima deserunt sequi alias voluptas, quisquam dicta similique in perspiciatis exercitationem ratione numquam. Maiores quam excepturi dolorum hic neque cumque error nemo!"
		/>
		<WorksCards
			img1="/images/works-img/works-img-5.jpg"
			alt1="alt text"
			title1="sweeped estate"
			text1="Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maiores, totam voluptas delectus vel nisi veniam dolorem facilis numquam laboriosam!"
			img2="/images/works-img/works-img-6.jpg"
			alt2="alt text"
			title2="neat residence"
			text2="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor autem nisi ut cupiditate expedita pariatur provident aliquid beatae aspernatur iusto."
		/>
  </main>
	<Footer />
</Layout>