---
import Layout from "../layouts/Layout.astro";

import Header from '../components/Header.astro';
import Logo from '../components/Logo.astro';
import Navbar from '../components/Navbar.astro';
import WorksIntro from './Works/WorksIntro.astro';
import LandscapeWork from "./Works/LandscapeWork.astro";
import WorksCards from "./Works/WorksCards.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Landscapist: Works">
	<Header>
		<Logo />
		<Navbar />
	</Header>
  <main class="works-main">
		<WorksIntro />
		<LandscapeWork 
			img="/images/works-img/landscape-work-1.jpg"
			alt="alt text"
			title="Project title"
			text="Short description for the project"
		/>
		<WorksCards
			img1="/images/works-img/works-img-1.jpg"
			alt1="alt text"
			title1="title 1"
			text1="text 1"
			img2="/images/works-img/works-img-2.jpg"
			alt2="alt text"
			title2="title 2"
			text2="text 2"
		/>
		<LandscapeWork 
			img="/images/works-img/landscape-work-2.jpg"
			alt="alt text"
			title="Project title"
			text="Short description for the project"
		/>
		<WorksCards
			img1="/images/works-img/works-img-3.jpg"
			alt1="alt text"
			title1="title 1"
			text1="text 1"
			img2="/images/works-img/works-img-4.jpg"
			alt2="alt text"
			title2="title 2"
			text2="text 2"
		/>
		<LandscapeWork 
			img="/images/works-img/landscape-work-3.jpg"
			alt="alt text"
			title="Project title"
			text="Short description for the project"
		/>
		<WorksCards
			img1="/images/works-img/works-img-5.jpg"
			alt1="alt text"
			title1="title 1"
			text1="text 1"
			img2="/images/works-img/works-img-6.jpg"
			alt2="alt text"
			title2="title 2"
			text2="text 2"
		/>
  </main>
	<Footer />
</Layout>