---
import { routes } from "src/config/routes.config"

const { contact } = routes
---

<section class="home-contact-wrapper" aria-labelledby="home-contact-title">
  <section class="home-contact-section">
    <h2 class="home-contact-title" id="home-contact-title">
      Let's Keep in Touch
    </h2>
    <p class="home-contact-text">I encourage you to book a consultation about your project, landscape or ideas. Take your time to tell me as much as possible about your goals, place, budget and time slots to work together.</p>
    <a class="home-contact-btn" href={contact.href} title=`Go to ${contact.label} page`>
      Contact Me
    </a>
  </section>
</section>