---
import { siteConfig } from "src/config/site.config";

const { business } = siteConfig
---

<section class="hero-home-section" aria-labelledby="hero-home-title">
  <h1 class="hero-home-title" id="hero-home-title">
    {business.name}
  </h1>
  <p class="hero-home-subtitle">
    {business.tagline}
  </p>
  <div class="hero-home-buttons">
    <a class="hero-home-btn" href="/services" title={`See ${business.name}'s services`}>
      Our Services
    </a>
    <a class="hero-home-btn contact-btn" href="/contact" title={`Go to ${business.name}'s contact page`}>
      Contact Us
    </a>
  </div>
  
</section>