---
import { siteConfig } from "src/config/site.config"
import { routes } from "src/config/routes.config"
---

<section class="home-intro-wrapper" aria-labelledby="home-intro-title">
  <section class="home-intro-section">
    <article class="home-introduction">
      <h2 class="home-intro-title" id="home-intro-title">
        Elegant artistry on beautifying nature
      </h2>
      <p class="home-intro-text">
        We craft outdoor environments that blend natural beauty with thoughtful design, creating inviting spaces for relaxation, comfort, and everyday enjoyment. Each project reflects care, vision, and a commitment to lasting quality.
      </p>
      <a
        class="home-intro-btn"
        href={routes.works.href}
        title={`See ${siteConfig.business.name}'s portfolio of works`}
      >
        Explore our works
      </a>
    </article>
  </section>
</section>