---
import Menu from "@lucide/astro/icons/menu"

---

<div class="ham-container">
  <button id="open-menu" class="ham-icon" aria-label="Open menu" aria-expanded="false">
    <Menu size={20} aria-hidden="true" />
  </button>
</div>