---
import { myInfo } from '@data/myInfo'

const { companyName } = myInfo
---

<div class="logo-div" >
  <h1>
    <a
      href="/"
      class="logo-link"
      title={`${companyName} logo`}
      aria-label={`${companyName} logo`}
    >
      LOGO
    </a>
  </h1>
</div>