---
import { siteConfig } from "src/config/site.config"

const { business } = siteConfig
---

<div class="logo-div" >
  <a
    href="/"
    class="logo-link"
    title={`${business.name} logo`}
    aria-label={`${business.name} logo`}
  >
    <img src="/icons/logo.png" alt={`${business.name} logo`}>
  </a>
</div>