---
import X from "@lucide/astro/icons/x"
---

<nav class="navbar" role="menu">
  <div class="close-container">
    <button class="close-btn close-icon" id="close-menu" aria-label="Close menu">
      <X size={20} aria-hidden="true" />
    </button>
  </div>
  <ul class="nav-list" role="menubar">
    <li class="nav-item">
      <a class="nav-link" href="/" title="Go to Home page" role="menuitem">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about" title="Go to About page">
        About
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/works" title="Go to Works page">
        Works
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services" title="Go to Services page">
        Services
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact" title="Go to Contact page">
        Contact
      </a>
    </li>
  </ul>
</nav>