---
import X from "@lucide/astro/icons/x"

import { siteConfig } from "src/config/site.config"
---

<nav class="navbar" role="menu">
  <div class="close-container">
    <button class="close-btn close-icon" id="close-menu" aria-label="Close menu">
      <X size={20} aria-hidden="true" />
    </button>
  </div>
  <ul class="nav-list">
    {siteConfig.nav.map((item) => (
      <li class="nav-item">
        <a class="nav-link" href={item.href} title={`Go to ${item.label} page`}>
          {item.label}
        </a>
      </li>
    ))}
  </ul>
</nav>