<nav class="navbar">
  <div class="close-container">
    <i class="fa-solid fa-xmark close-icon"></i>
  </div>
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" href="/" title="Go to Home page">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about" title="Go to About page">
        About
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/works" title="Go to Works page">
        Works
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services" title="Go to Services page">
        Services
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact#form-wrapper" title="Go to Contact page">
        Contact
      </a>
    </li>
  </ul>
</nav>