<section class="social-media-wrapper">
  <i class="fa-brands fa-facebook social-icon"></i>
  <i class="fa-brands fa-instagram social-icon"></i>
  <i class="fa-brands fa-youtube social-icon"></i>
</section>