<section class="social-media-wrapper">
  <a href="https://www.facebook.com/" class="social-media-link" target="_blank"><i class="fa-brands fa-facebook social-icon"></i></a>
  <a href="https://www.instagram.com/" class="social-media-link" target="_blank"><i class="fa-brands fa-instagram social-icon"></i></a>
  <a href="https://www.youtube.com/" class="social-media-link" target="_blank"><i class="fa-brands fa-youtube social-icon"></i></a>
</section>