/*----- Global -----*/
/*----- Google Fonts ------*/
@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: none;
}
*::selection {
  background-color: #007000;
  color: #fdfdfd;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fdfdfd;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  text-transform: capitalize;
  line-height: 2.25rem;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  color: #151515;
}

img {
  border-radius: 0.25rem;
}

h1 {
  font-family: "Kurale", serif;
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-family: "Kurale", serif;
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-family: "Kurale", serif;
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
  text-wrap: pretty;
  color: #202020;
}

main {
  min-height: 70vh;
}

button {
  cursor: pointer;
}

.capital {
  text-transform: capitalize;
}

.over-x {
  overflow-x: hidden;
}

@media all and (max-width: 575px) {
  p {
    font-size: 1rem;
  }
}
/*----- Includes -----*/
/*----- Components -----*/
.header-element {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.25rem 0.25rem 0 #d3d3d3;
  padding: 1rem 2rem;
}

@media all and (max-width: 991px) {
  .header-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .header-element .navbar {
    min-width: 100%;
    height: 0vh;
    min-height: 0;
    overflow: hidden;
    position: fixed;
    transition: 0.3s linear all;
    top: 50%;
    left: -25%;
    right: -25%;
    transform: translateX(25%);
    transform: translateY(-50%);
    z-index: 50;
  }
  .header-element .navbar::before {
    content: "";
    inset: 0;
    position: absolute;
    z-index: -20;
    background: #353535;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
  }
  .header-element .navbar::after {
    content: "";
    inset: 0;
    position: absolute;
    z-index: -30;
    background-image: url("/images/nav-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }
  .header-element .navbar .nav-list {
    width: 100%;
  }
  .header-element .navbar .nav-list .nav-item {
    padding-top: 1rem;
    padding-inline: 100%;
    padding-bottom: 1rem;
  }
  .header-element .navbar .nav-list .nav-item .nav-link {
    color: #fdfdfd;
    padding-top: 1rem;
    padding-inline: 100vw;
    padding-bottom: 1rem;
    transition: 0.3s linear all;
    text-shadow: 0 0 0.25rem #151515;
    font-weight: 500;
  }
  .header-element .navbar .nav-list .nav-item .nav-link:hover {
    background-color: #fdfdfd;
    color: #009100;
    text-shadow: 0 0 0;
  }
  .header-element .navbar .close-container {
    position: fixed;
    top: 8%;
    right: 25%;
    z-index: 100;
  }
  .header-element .navbar .close-container .close-icon {
    cursor: pointer;
    padding: 0.75rem 1rem;
    border: 1px solid #fdfdfd;
    border-radius: 100%;
    color: #fdfdfd;
    font-size: 1.5rem;
    transition: 1s linear all;
    opacity: 0;
  }
  .header-element .navbar .close-container .close-icon:hover {
    background-color: #fdfdfd;
    color: #151515;
    transition: 0.3s linear all;
  }
}
@media all and (min-width: 992px) {
  .header-element .navbar {
    height: min-content;
    min-height: unset !important;
  }
  .header-element .navbar .close-container {
    display: none;
  }
}
.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-div h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.logo-div h1 .logo-link {
  color: initial;
}

@media all and (max-width: 991px) {
  .logo-div {
    margin-bottom: 1rem;
  }
}
.navbar {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-list .nav-item {
  padding: 1rem;
}
.nav-list .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  color: #202020;
  padding: 1rem;
}

@media all and (min-width: 481px) and (max-width: 767px) {
  .nav-list .nav-item {
    font-size: 1.25rem;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .nav-list .nav-item {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 991px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media all and (min-width: 992px) {
  .nav-list .nav-item .nav-link {
    position: relative;
  }
  .nav-list .nav-item .nav-link::before {
    width: 0;
    content: "";
    position: absolute;
    background-color: #007000;
    height: 0.1rem;
    right: 0;
    bottom: 0.5rem;
    transition: 0.3s linear all;
  }
  .nav-list .nav-item .nav-link::after {
    width: 0;
    content: "";
    position: absolute;
    background-color: #007000;
    height: 0.1rem;
    left: 0;
    bottom: 0.5rem;
    transition: 0.3s linear all;
  }
  .nav-list .nav-item .nav-link:hover::after, .nav-list .nav-item .nav-link:hover::before {
    width: 100%;
  }
}
.ham-container {
  display: none;
}

@media all and (max-width: 991px) {
  .ham-container {
    display: initial;
  }
  .ham-container .ham-icon {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid #000;
    padding: 0.75rem 0.9rem;
    border-radius: 100%;
    transition: 0.3s linear all;
  }
  .ham-container .ham-icon:hover {
    border-color: #009100;
    color: #009100;
  }
}
.footer-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 -0.25rem 0.25rem 0 #d3d3d3;
}
.footer-element .navbar {
  width: 35%;
}
.footer-element .navbar .close-container {
  display: none;
}

@media all and (max-width: 991px) {
  .footer-element {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-element .navbar {
    margin-bottom: 2rem;
  }
  .footer-element .navbar .nav-list .nav-item {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
  }
}
.social-media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.social-media-wrapper .social-media-link {
  color: #202020;
  transition: 0.3s linear all;
}
.social-media-wrapper .social-media-link:hover {
  color: #007000;
}
.social-media-wrapper .social-media-link:focus {
  color: #359b35;
}

.social-icon {
  font-size: 1.25rem;
}

/*----- Views -----*/
.hero-home-section {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  color: #fdfdfd;
  text-shadow: 0 0 0.25rem #151515;
  text-align: center;
}
.hero-home-section::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}
.hero-home-section::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.hero-home-section .hero-home-title {
  margin-bottom: 1.25rem;
  color: #fdfdfd;
}
.hero-home-section .hero-home-subtitle {
  font-size: 1.2rem;
  color: #fdfdfd;
  margin-bottom: 1.75rem;
}
.hero-home-section .hero-home-btn {
  margin-bottom: 1.25rem;
  padding: 0.75rem 1.5rem;
  font-weight: 300;
  background-color: transparent;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-radius: 3rem;
  transition: 0.3s linear all;
}
.hero-home-section .hero-home-btn:hover {
  background-color: #fdfdfd;
  color: #151515;
  text-shadow: 0 0 0;
}

.home-intro-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-intro-wrapper .home-intro-section {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.home-intro-wrapper .home-intro-section .home-introduction {
  width: 75%;
  text-align: center;
}
.home-intro-wrapper .home-intro-section .home-introduction .home-intro-title {
  margin-bottom: 0.75rem;
  font-size: 2rem;
}
.home-intro-wrapper .home-intro-section .home-introduction .home-intro-text {
  margin-bottom: 2.5rem;
}
.home-intro-wrapper .home-intro-section .home-introduction .home-intro-btn {
  margin-bottom: 1rem;
  padding: 0.75rem 2rem;
  background-color: transparent;
  color: #007000;
  border: 1px solid #007000;
  border-radius: 3rem;
  transition: 0.3s linear all;
}
.home-intro-wrapper .home-intro-section .home-introduction .home-intro-btn:hover {
  background-color: #007000;
  color: #fdfdfd;
}

.home-services-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-services-wrapper .home-services-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 2rem;
}
.home-services-wrapper .home-services-container .home-services-figure {
  min-width: 40%;
  max-width: 40%;
}
.home-services-wrapper .home-services-container .home-services-figure img {
  width: 100%;
}
.home-services-wrapper .home-services-container .home-services-content {
  width: 50%;
}
.home-services-wrapper .home-services-container .home-services-content .home-services-title {
  margin-bottom: 1.5rem;
}
.home-services-wrapper .home-services-container .home-services-content p {
  margin-bottom: 0.75rem;
}
.home-services-wrapper .home-services-container .home-services-content p:nth-last-of-type(1) {
  margin-bottom: 2.5rem;
}
.home-services-wrapper .home-services-container .home-services-content .home-services-btn {
  text-align: center;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  background-color: transparent;
  color: #000045;
  border: 1px solid #000045;
  border-radius: 3rem;
  transition: 0.3s linear all;
}
.home-services-wrapper .home-services-container .home-services-content .home-services-btn:hover {
  background-color: rgba(11, 11, 112, 0.9333333333);
  color: #fdfdfd;
}

.inverted-row {
  flex-direction: row-reverse;
}

.bg-grey {
  background-color: #efefef;
}

.home-services-quote {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-services-quote::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
.home-services-quote::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/home-quote.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
}
.home-services-quote .home-services-blockquote {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fdfdfd;
  text-shadow: 0 0 0.25rem #353535;
}
.home-services-quote .home-services-blockquote .home-blockquote-quote {
  font-size: 1.75rem;
  font-style: italic;
  color: #fdfdfd;
}
.home-services-quote .home-services-blockquote .home-blockquote-author {
  font-size: 1.25rem;
  color: #fdfdfd;
}

.home-contact-wrapper {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.home-contact-wrapper::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
.home-contact-wrapper::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/home-contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.home-contact-wrapper .home-contact-section {
  width: 55%;
  text-align: center;
  color: #fdfdfd;
  text-shadow: 0 0 0.25rem #353535;
}
.home-contact-wrapper .home-contact-section .home-contact-title {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  color: #fdfdfd;
}
.home-contact-wrapper .home-contact-section .home-contact-text {
  font-size: 1.35rem;
  margin-bottom: 2.5rem;
  color: #fdfdfd;
}
.home-contact-wrapper .home-contact-section .home-contact-btn {
  padding: 0.75rem 2rem;
  background-color: transparent;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-radius: 3rem;
  transition: 0.3s linear all;
  margin-bottom: 1rem;
}
.home-contact-wrapper .home-contact-section .home-contact-btn:hover {
  background-color: #fdfdfd;
  color: #151515;
  text-shadow: 0 0 0;
}

@media all and (max-width: 480px) {
  .home-services-wrapper .home-services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
  }
  .home-services-wrapper .home-services-container .home-services-figure {
    width: 95%;
    max-width: 95%;
    margin-bottom: 1rem;
  }
  .home-services-wrapper .home-services-container .home-services-content {
    width: 95%;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-title {
    font-size: 1.75rem;
    text-align: center;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-btn {
    width: 100%;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .home-services-wrapper .home-services-container {
    padding: 3rem 2rem;
  }
  .home-services-wrapper .home-services-container .home-services-figure {
    width: 90%;
    max-width: 90%;
    margin-bottom: 1rem;
  }
  .home-services-wrapper .home-services-container .home-services-content {
    width: 90%;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-title {
    font-size: 1.75rem;
    text-align: center;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-btn {
    width: 45%;
  }
}
@media all and (max-width: 767px) {
  .home-services-quote .home-services-blockquote {
    width: 85%;
  }
  .home-services-quote .home-services-blockquote .home-blockquote-quote {
    font-size: 1.25rem;
  }
  .home-services-quote .home-services-blockquote .home-blockquote-author {
    font-size: 1rem;
  }
  .home-contact-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .home-contact-wrapper .home-contact-section {
    width: 90%;
  }
  .home-contact-wrapper .home-contact-section .home-contact-title {
    font-size: 1.75rem;
  }
  .home-contact-wrapper .home-contact-section .home-contact-text {
    font-size: 1rem;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .home-services-wrapper .home-services-container {
    padding: 3rem 2rem;
  }
  .home-services-wrapper .home-services-container .home-services-figure {
    width: 80%;
    max-width: 80%;
    margin-bottom: 0.75rem;
  }
  .home-services-wrapper .home-services-container .home-services-content {
    width: 80%;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-title {
    font-size: 2rem;
    text-align: center;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-btn {
    width: 35%;
  }
  .home-services-quote .home-services-blockquote {
    width: 75%;
  }
  .home-services-quote .home-services-blockquote .home-blockquote-quote {
    font-size: 1.5rem;
  }
  .home-services-quote .home-services-blockquote .home-blockquote-author {
    font-size: 1.25rem;
  }
  .home-contact-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .home-contact-wrapper .home-contact-section {
    width: 75%;
  }
  .home-contact-wrapper .home-contact-section .home-contact-title {
    font-size: 2rem;
  }
  .home-contact-wrapper .home-contact-section .home-contact-text {
    font-size: 1.25rem;
  }
}
@media all and (max-width: 991px) {
  .hero-home-section .hero-home-title {
    line-height: 3.5rem;
    margin-bottom: 0.75rem;
  }
  .home-services-wrapper .home-services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-services-wrapper .home-services-container .home-services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-services-wrapper .home-services-container .home-services-content p:nth-last-of-type(1) {
    margin-bottom: 1rem;
  }
}
.about-intro-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.about-intro-wrapper .about-intro {
  width: 65%;
}
.about-intro-wrapper .about-intro .about-title {
  margin-bottom: 2rem;
}
.about-intro-wrapper .about-intro .about-text {
  margin-bottom: 1rem;
}
.about-intro-wrapper .about-intro .about-intro-fig {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  position: relative;
  transition: 0.3s linear all;
}
.about-intro-wrapper .about-intro .about-intro-fig img {
  width: 100%;
  cursor: pointer;
  transition: 0.5s linear all;
}
.about-intro-wrapper .about-intro .about-intro-fig img:hover {
  opacity: 0;
  filter: blur(1rem);
}

.about-fig-1::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/about-intro-hover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  border-radius: 0.25rem;
}

.about-fig-2::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/about-intro-2-hover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  border-radius: 0.25rem;
}

@media all and (max-width: 480px) {
  .about-intro-wrapper .about-intro {
    width: 90%;
  }
  .about-intro-wrapper .about-intro .about-title {
    margin-bottom: 1.5rem;
  }
  .about-intro-wrapper .about-intro .about-intro-fig {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .about-intro-wrapper .about-intro {
    width: 80%;
  }
  .about-intro-wrapper .about-intro .about-title {
    margin-bottom: 1.75rem;
  }
  .about-intro-wrapper .about-intro .about-intro-fig {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .about-intro-wrapper .about-intro {
    width: 70%;
  }
  .about-intro-wrapper .about-intro .about-intro-fig {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }
}
.works-main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.works-intro-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f6f6f6;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
}
.works-intro-wrapper .works-intro-title {
  margin-bottom: 1.25rem;
  font-size: 2.25rem;
}
.works-intro-wrapper .works-intro-text {
  width: 80%;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

.landscape-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 4rem;
}
.landscape-wrapper .landscape-figure {
  width: 100%;
  margin-bottom: 0.25rem;
}
.landscape-wrapper .landscape-figure img {
  width: 100%;
  border-radius: 0.25rem;
}
.landscape-wrapper .landscape-title {
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}
.landscape-wrapper .landscape-text {
  margin-bottom: 1rem;
}

.work-cards-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background-color: #f6f6f6;
}
.work-cards-wrapper .work-cards-card {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}
.work-cards-wrapper .work-cards-card .work-cards-figure {
  width: 100%;
}
.work-cards-wrapper .work-cards-card .work-cards-figure img {
  width: 100%;
  border-radius: 0.25rem;
}
.work-cards-wrapper .work-cards-card .work-cards-title {
  margin-bottom: 0.5rem;
}
.work-cards-wrapper .work-cards-card .work-cards-text {
  margin-bottom: 1rem;
}

@media all and (max-width: 480px) {
  .works-intro-wrapper {
    padding: 2rem 1rem;
  }
  .landscape-wrapper {
    padding: 2rem 1rem;
  }
  .landscape-wrapper .landscape-title {
    font-size: 1.5rem;
  }
  .work-cards-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work-cards-wrapper .work-cards-card {
    width: 95%;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .works-intro-wrapper {
    padding: 2rem 2rem;
  }
  .landscape-wrapper {
    padding: 2rem 2rem;
  }
  .work-cards-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work-cards-wrapper .work-cards-card {
    width: 85%;
  }
}
@media all and (max-width: 767px) {
  .works-intro-wrapper .works-intro-text {
    width: 90%;
  }
}
@media all and (max-width: 991px) {
  .landscape-wrapper .landscape-title {
    margin-bottom: 0.5rem;
  }
  .work-cards-wrapper .work-cards-card .work-cards-title {
    margin-bottom: 0.5rem;
  }
}
.services-intro-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #359b35;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
}
.services-intro-wrapper .services-intro-title {
  width: 100%;
  text-align: center;
  color: #fdfdfd;
}

.services-section-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.service-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.service-card .service-card-fig {
  width: 25%;
}
.service-card .service-card-fig img {
  width: 100%;
}
.service-card .service-card-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 3rem;
}
.service-card .service-card-info .service-card-title {
  margin-bottom: 1rem;
}
.service-card .service-card-info .service-card-text {
  margin-bottom: 1.5rem;
}
.service-card .service-card-info .service-card-btn {
  text-align: center;
  background-color: transparent;
  color: #151515;
  border: 1px solid #151515;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  transition: 0.3s linear all;
}
.service-card .service-card-info .service-card-btn:hover {
  background-color: #000045;
  color: #fdfdfd;
}

.reverse {
  flex-direction: row-reverse;
  background-color: #f6f6f6;
}

.services-quote-wrapper {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.services-quote-wrapper .services-blockquote {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 0.25rem #353535;
}
.services-quote-wrapper .services-blockquote .services-quote {
  font-style: italic;
  color: #fdfdfd;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.services-quote-wrapper .services-blockquote .services-author {
  color: #fdfdfd;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
.services-quote-wrapper .services-blockquote .services-quote-btn {
  background-color: transparent;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  transition: 0.3s linear all;
}
.services-quote-wrapper .services-blockquote .services-quote-btn:hover {
  text-shadow: 0 0 0;
  background-color: #fdfdfd;
  color: #151515;
}
.services-quote-wrapper::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}
.services-quote-wrapper::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/services-quote-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  filter: blur(0.05rem);
  background-attachment: fixed;
}

@media all and (max-width: 480px) {
  .service-card .service-card-fig {
    width: 90%;
  }
  .service-card .service-card-info {
    width: 90%;
    padding: 0;
  }
  .service-card .service-card-info .service-card-btn {
    width: 100%;
  }
  .services-quote-wrapper .services-blockquote {
    width: 90%;
  }
  .services-quote-wrapper .services-blockquote .services-quote {
    font-size: 1.25rem;
  }
  .services-quote-wrapper .services-blockquote .services-author {
    font-size: 1rem;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .service-card .service-card-fig {
    width: 55%;
  }
  .service-card .service-card-info {
    width: 80%;
    padding: 0;
  }
  .service-card .service-card-info .service-card-btn {
    width: 60%;
  }
  .services-quote-wrapper .services-blockquote {
    width: 80%;
  }
  .services-quote-wrapper .services-blockquote .services-quote {
    font-size: 1.5rem;
  }
  .services-quote-wrapper .services-blockquote .services-author {
    font-size: 1.15rem;
  }
}
@media all and (max-width: 767px) {
  .service-card {
    flex-direction: column;
  }
  .service-card .service-card-fig {
    margin-bottom: 0.25rem;
  }
  .service-card .service-card-info {
    align-items: center;
    padding: 0;
  }
  .service-card .service-card-info .service-card-title {
    font-size: 1.75rem;
    text-align: center;
  }
  .reverse {
    flex-direction: column;
  }
  .services-quote-wrapper {
    min-height: 100vh;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .service-card .service-card-fig {
    width: 40%;
  }
  .service-card .service-card-info {
    width: 55%;
  }
  .services-quote-wrapper .services-blockquote {
    width: 75%;
  }
}
.contact-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 10;
}
.contact-wrapper::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}
.contact-wrapper::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/contact-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.form-wrapper {
  width: 45%;
  min-width: 45%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
}
.form-wrapper::before {
  transition: 0.3s linear all;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
.form-wrapper:hover::before {
  opacity: 0.8;
}
.form-wrapper .contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fdfdfd;
}

.contact-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fdfdfd;
}
.contact-field legend {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;
  padding-inline: 1rem;
}
.contact-field .contact-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}
.contact-field .contact-div .form-label {
  width: 100%;
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
}
.contact-field .contact-div .form-input {
  width: 100%;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: 1px solid #fdfdfd;
  border-radius: 3rem;
}
.contact-field .contact-div .form-textarea {
  width: 100%;
  resize: none;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: 1px solid #fdfdfd;
  border-radius: 0.25rem;
}
.contact-field .contact-div .contact-input {
  transition: 0.3s linear all;
}
.contact-field .contact-div .contact-input::placeholder {
  color: #efefef;
}

.form-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.form-buttons .form-btn {
  width: 10rem;
  padding: 0.5rem 1rem;
  transition: 0.3s linear all;
  font-size: 1rem;
}
.form-buttons .send-btn {
  background-color: #359b35;
  color: #fdfdfd;
  border: 1px solid #359b35;
  border-radius: 3rem;
}
.form-buttons .send-btn:hover {
  background-color: springgreen;
  color: #fdfdfd;
  border-color: springgreen;
}
.form-buttons .clear-btn {
  background-color: rgba(11, 11, 112, 0.9333333333);
  color: #fdfdfd;
  border: 1px solid rgba(11, 11, 112, 0.9333333333);
  border-radius: 3rem;
}
.form-buttons .clear-btn:hover {
  background-color: blue;
  color: #fdfdfd;
  border-color: blue;
}

@media all and (max-width: 480px) {
  .form-wrapper {
    padding: 3rem 1rem;
  }
  .form-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
  }
  .form-buttons .form-btn {
    width: 100%;
  }
  .form-buttons .send-btn {
    margin-bottom: 0.75rem;
  }
}
@media all and (min-width: 481px) and (max-width: 575px) {
  .form-wrapper .contact-form {
    width: 90%;
  }
}
@media all and (min-width: 576px) and (max-width: 767px) {
  .form-wrapper .contact-form {
    width: 75%;
  }
}
@media all and (max-width: 767px) {
  .contact-wrapper::after {
    background-position: 70%;
  }
  .form-wrapper {
    width: 100%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .form-wrapper {
    width: 55%;
  }
  .form-buttons .form-btn {
    width: 9rem;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .form-wrapper {
    width: 50%;
  }
  .form-buttons .form-btn {
    width: 9.5rem;
  }
}
#error-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#error-main::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
#error-main::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/error-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  filter: blur(0.15rem);
}
#error-main .error-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fdfdfd;
  text-shadow: 0 0 0.25rem #353535;
  margin-bottom: 1rem;
}
#error-main .error-section .error-title {
  font-size: 4rem;
  margin-bottom: 1.25rem;
}
#error-main .error-section .error-subtitle {
  font-size: 2.25rem;
  margin-bottom: 0.75rem;
}
#error-main .error-section .error-text {
  font-size: 1.75rem;
  margin-bottom: 1.8rem;
}
#error-main .error-section .error-btn {
  background-color: transparent;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  transition: 0.3s linear all;
}
#error-main .error-section .error-btn:hover {
  text-shadow: 0 0 0;
  background-color: #fdfdfd;
  color: #151515;
}

.error-title, .error-subtitle, .error-text {
  font-family: "Kurale", serif;
}

@media all and (max-width: 991px) {
  #error-main .error-section .error-title {
    font-size: 3.5rem;
  }
  #error-main .error-section .error-subtitle {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  #error-main .error-section .error-text {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=styles.css.map */
