/*----- Global -----*/
/*----- Google Fonts ------*/
@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #fdfdfd;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  text-transform: capitalize;
  line-height: 2.25rem;
}

img {
  border-radius: 0.25rem;
}

h1 {
  font-family: "Kurale", serif;
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-family: "Kurale", serif;
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-family: "Kurale", serif;
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

main {
  min-height: 70vh;
}

/*----- Includes -----*/
/*----- Components -----*/
.header-element {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

@media all and (max-width: 991px) {
  .header-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-div h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

@media all and (max-width: 991px) {
  .logo-div {
    margin-bottom: 1rem;
  }
}
.navbar {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-list .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  color: #202020;
}

@media all and (max-width: 991px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.footer-element .navbar {
  width: 35%;
}

@media all and (max-width: 991px) {
  .footer-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-element .navbar {
    margin-bottom: 2rem;
  }
  .footer-element .navbar .nav-list .nav-item {
    margin-bottom: 0.5rem;
  }
}
.social-media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-icon {
  font-size: 1.25rem;
}

/*----- Views -----*/
.hero-home-section {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fdfdfd;
  text-shadow: 0 0 0.25rem #151515;
  text-align: center;
}
.hero-home-section::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}
.hero-home-section::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.hero-home-section .hero-home-title {
  margin-bottom: 0.5rem;
}
.hero-home-section .hero-home-subtitle {
  font-size: 1.2rem;
  margin-bottom: 1.75rem;
}
.hero-home-section .hero-home-btn {
  margin-bottom: 1.25rem;
  padding: 0.75rem 1.5rem;
  font-weight: 300;
  background-color: transparent;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-radius: 3rem;
  transition: 0.3s linear all;
}
.hero-home-section .hero-home-btn:hover {
  background-color: #fdfdfd;
  color: #151515;
  text-shadow: 0 0 0;
}

.home-intro-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-intro-wrapper .home-intro-section {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.home-intro-wrapper .home-intro-section .home-introduction {
  width: 75%;
  text-align: center;
}
.home-intro-wrapper .home-intro-section .home-introduction .home-intro-title {
  margin-bottom: 0.75rem;
  font-size: 2rem;
}
.home-intro-wrapper .home-intro-section .home-introduction .home-intro-text {
  margin-bottom: 2.5rem;
}
.home-intro-wrapper .home-intro-section .home-introduction .home-intro-btn {
  margin-bottom: 1rem;
  padding: 0.75rem 2rem;
  background-color: transparent;
  color: #007000;
  border: 1px solid #007000;
  border-radius: 3rem;
  transition: 0.3s linear all;
}
.home-intro-wrapper .home-intro-section .home-introduction .home-intro-btn:hover {
  background-color: #007000;
  color: #fdfdfd;
}

.home-services-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-services-wrapper .home-services-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 2rem;
}
.home-services-wrapper .home-services-container .home-services-figure {
  min-width: 40%;
  max-width: 40%;
}
.home-services-wrapper .home-services-container .home-services-figure img {
  width: 100%;
}
.home-services-wrapper .home-services-container .home-services-content {
  width: 50%;
}
.home-services-wrapper .home-services-container .home-services-content .home-services-title {
  margin-bottom: 1.5rem;
}
.home-services-wrapper .home-services-container .home-services-content p {
  margin-bottom: 0.75rem;
}
.home-services-wrapper .home-services-container .home-services-content p:nth-last-of-type(1) {
  margin-bottom: 2.5rem;
}
.home-services-wrapper .home-services-container .home-services-content .home-services-btn {
  text-align: center;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  background-color: transparent;
  color: #000045;
  border: 1px solid #000045;
  border-radius: 3rem;
  transition: 0.3s linear all;
}
.home-services-wrapper .home-services-container .home-services-content .home-services-btn:hover {
  background-color: rgba(11, 11, 112, 0.9333333333);
  color: #fdfdfd;
}

.inverted-row {
  flex-direction: row-reverse;
}

.bg-grey {
  background-color: #efefef;
}

.home-services-quote {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-services-quote::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
.home-services-quote::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/home-quote.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
}
.home-services-quote .home-services-blockquote {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fdfdfd;
  text-shadow: 0 0 0.25rem #353535;
}
.home-services-quote .home-services-blockquote .home-blockquote-quote {
  font-size: 1.75rem;
  font-style: italic;
}
.home-services-quote .home-services-blockquote .home-blockquote-author {
  font-size: 1.25rem;
}

.home-contact-wrapper {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-contact-wrapper::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
.home-contact-wrapper::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/home-contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.home-contact-wrapper .home-contact-section {
  width: 55%;
  text-align: center;
  color: #fdfdfd;
  text-shadow: 0 0 0.25rem #353535;
}
.home-contact-wrapper .home-contact-section .home-contact-title {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
.home-contact-wrapper .home-contact-section .home-contact-text {
  font-size: 1.35rem;
  margin-bottom: 2.5rem;
}
.home-contact-wrapper .home-contact-section .home-contact-btn {
  padding: 0.75rem 2rem;
  background-color: transparent;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-radius: 3rem;
  transition: 0.3s linear all;
  margin-bottom: 1rem;
}
.home-contact-wrapper .home-contact-section .home-contact-btn:hover {
  background-color: #fdfdfd;
  color: #151515;
  text-shadow: 0 0 0;
}

@media all and (max-width: 480px) {
  .home-services-wrapper .home-services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
  }
  .home-services-wrapper .home-services-container .home-services-figure {
    width: 95%;
    max-width: 95%;
    margin-bottom: 1rem;
  }
  .home-services-wrapper .home-services-container .home-services-content {
    width: 95%;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-title {
    font-size: 1.75rem;
    text-align: center;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-btn {
    width: 100%;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .home-services-wrapper .home-services-container {
    padding: 3rem 2rem;
  }
  .home-services-wrapper .home-services-container .home-services-figure {
    width: 90%;
    max-width: 90%;
    margin-bottom: 1rem;
  }
  .home-services-wrapper .home-services-container .home-services-content {
    width: 90%;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-title {
    font-size: 1.75rem;
    text-align: center;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-btn {
    width: 45%;
  }
}
@media all and (max-width: 767px) {
  .home-services-quote .home-services-blockquote {
    width: 85%;
  }
  .home-services-quote .home-services-blockquote .home-blockquote-quote {
    font-size: 1.25rem;
  }
  .home-services-quote .home-services-blockquote .home-blockquote-author {
    font-size: 1rem;
  }
  .home-contact-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .home-contact-wrapper .home-contact-section {
    width: 90%;
  }
  .home-contact-wrapper .home-contact-section .home-contact-title {
    font-size: 1.75rem;
  }
  .home-contact-wrapper .home-contact-section .home-contact-text {
    font-size: 1rem;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .home-services-wrapper .home-services-container {
    padding: 3rem 2rem;
  }
  .home-services-wrapper .home-services-container .home-services-figure {
    width: 80%;
    max-width: 80%;
    margin-bottom: 0.75rem;
  }
  .home-services-wrapper .home-services-container .home-services-content {
    width: 80%;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-title {
    font-size: 2rem;
    text-align: center;
  }
  .home-services-wrapper .home-services-container .home-services-content .home-services-btn {
    width: 35%;
  }
  .home-services-quote .home-services-blockquote {
    width: 75%;
  }
  .home-services-quote .home-services-blockquote .home-blockquote-quote {
    font-size: 1.5rem;
  }
  .home-services-quote .home-services-blockquote .home-blockquote-author {
    font-size: 1.25rem;
  }
  .home-contact-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .home-contact-wrapper .home-contact-section {
    width: 75%;
  }
  .home-contact-wrapper .home-contact-section .home-contact-title {
    font-size: 2rem;
  }
  .home-contact-wrapper .home-contact-section .home-contact-text {
    font-size: 1.25rem;
  }
}
@media all and (max-width: 991px) {
  .hero-home-section .hero-home-title {
    line-height: 3.5rem;
    margin-bottom: 0.75rem;
  }
  .home-services-wrapper .home-services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-services-wrapper .home-services-container .home-services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-services-wrapper .home-services-container .home-services-content p:nth-last-of-type(1) {
    margin-bottom: 1rem;
  }
}
#error-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#error-main::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
#error-main::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/error-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  filter: blur(0.15rem);
}
#error-main .error-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fdfdfd;
  text-shadow: 0 0 0.25rem #353535;
  margin-bottom: 1rem;
}
#error-main .error-section .error-title {
  font-size: 4rem;
  margin-bottom: 1.25rem;
}
#error-main .error-section .error-subtitle {
  font-size: 2.25rem;
  margin-bottom: 0.75rem;
}
#error-main .error-section .error-text {
  font-size: 1.75rem;
  margin-bottom: 1.8rem;
}
#error-main .error-section .error-btn {
  background-color: transparent;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  transition: 0.3s linear all;
}
#error-main .error-section .error-btn:hover {
  text-shadow: 0 0 0;
  background-color: #fdfdfd;
  color: #151515;
}

.error-title, .error-subtitle, .error-text {
  font-family: "Kurale", serif;
}

@media all and (max-width: 991px) {
  #error-main .error-section .error-title {
    font-size: 3.5rem;
  }
  #error-main .error-section .error-subtitle {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  #error-main .error-section .error-text {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=styles.css.map */
