@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

.footer-element {
  @include mx.flexRow(var.$between, center);
  padding: 1rem 2rem;
  box-shadow: 0 -0.25rem 0.25rem 0 color.$softGrey;
  .navbar {
    width: 35%;
    .close-container {
      display: none;
    }
  }
}

@media all and (max-width: 991px) {

  .footer-element {
    padding: 2rem 2rem;
    @include mx.flexColCenter();
    .navbar {
      margin-bottom: 2rem;
      .nav-list {
        .nav-item {
          padding: 0.5rem 1rem;
          margin-bottom: 0.25rem;
        }
      }
    }
  }
}