@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

.ham-container {
 display: none;   
}

@media all and (max-width: 991px) {

  .ham-container {
    display: initial;
    .ham-icon {
      cursor: pointer;
      font-size: 1.5rem;
      border: 1px solid #000;
      padding: 0.5rem 0.75rem;
      border-radius: 100%;
      transition: var.$trs03;
      &:hover {
        border-color: color.$secondColor;
        color: color.$secondColor;
      }
    }
  }
}