@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

.logo-div {
  @include mx.flexRow(center, center);
}

.logo-link {
  img {
    width: 2.75rem;
  }
}

@media all and (max-width: 991px) {

  .logo-div {
    margin-bottom: 1rem;
  }
}