@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

.social-media-wrapper {
  @include mx.flexRowCenter();
  gap: 1rem;
  .social-media-link {
    transition: var.$trs03;
    .social-icon svg {
      fill: color.$lightBlack;
      transition: var.$trs03;
    }
    &:hover .social-icon svg {
      fill: color.$firstColor;
    }
    &:focus .social-icon svg {
      fill: color.$thirdColor;
    }
  }
}

.social-icon {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}