@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

.about-intro-wrapper {
  width: 100%;
  @include mx.flexColCenter();
  padding-top: 3rem;
  padding-bottom: 3rem;
  .about-intro {
    width: 65%;
    .about-title {
      margin-bottom: 2rem;
    }
    .about-text {
      margin-bottom: 1rem;
    }
    .about-intro-fig {
      width: 100%;
      @include mx.flexColCenter;
      margin-top: 3rem;
      margin-bottom: 2rem;
      position: relative;
      transition: var.$trs03;
      img {
        width: 100%;
        cursor: pointer;
        transition: var.$trs05;
        &:hover {
          opacity: 0;
          filter: blur(1rem);
        }
      }
    }
  }
}

.about-fig-1 {
  &::after {
    @include mx.bgHeroImg(-5, '/images/about/about-intro-hover.webp', 0.9);
    border-radius: 0.25rem;
  }
}

.about-fig-2 {
  &::after {
    @include mx.bgHeroImg(-5, '/images/about/about-intro-2-hover.webp', 0.9);
    border-radius: 0.25rem;
  }
}

@media all and (max-width: 480px) {

  .about-intro-wrapper {
    .about-intro {
      width: 90%;
      .about-title {
        margin-bottom: 1.5rem;
      }
      .about-intro-fig {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {

  .about-intro-wrapper {
    .about-intro {
      width: 80%;
      .about-title {
        margin-bottom: 1.75rem;
      }
      .about-intro-fig {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
      }
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {

  .about-intro-wrapper {
    .about-intro {
      width: 70%;
      .about-intro-fig {
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
      }
    }
  }
}