@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

.works-main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.works-intro-wrapper {
  width: 100%;
  @include mx.flexCol(center, flex-start);
  background-color: color.$whiteSmoke;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  .works-intro-title {
    margin-bottom: 1.25rem;
    font-size: 2.25rem;
  }
  .works-intro-text {
    width: 80%;
    margin-bottom: 0.5rem;
    line-height: 2rem;
  }
}

.landscape-wrapper {
  width: 100%;
  @include mx.flexCol(center, flex-start);
  padding: 2rem 4rem;
  .landscape-figure {
    width: 100%;
    margin-bottom: 0.25rem;
    img {
      width: 100%;
      border-radius: 0.25rem;
    }
  }
  .landscape-title {
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
  }
  .landscape-text {
    margin-bottom: 1rem;
  }
}

.work-cards-wrapper {
  width: 100%;
  @include mx.flexRow(var.$evenly, center);
  padding: 2rem;
  background-color: color.$whiteSmoke;
  .work-cards-card {
    width: 45%;
    @include mx.flexCol(center, flex-start);
    padding: 1rem;
    .work-cards-figure {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.25rem;
      }
    }
    .work-cards-title {
      margin-bottom: 0.5rem;
    }
    .work-cards-text {
      margin-bottom: 1rem;
    }
  }
}

@media all and (max-width: 480px) {

  .works-intro-wrapper {
    padding: 2rem 1rem;
  }

  .landscape-wrapper {
    padding: 2rem 1rem;
    .landscape-title {
      font-size: 1.5rem;
    }
  }

  .work-cards-wrapper {
    padding: 1rem;
    @include mx.flexColCenter();
    .work-cards-card {
      width: 95%;
    }
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {

  .works-intro-wrapper {
    padding: 2rem 2rem;
  }

  .landscape-wrapper {
    padding: 2rem 2rem;
  }

  .work-cards-wrapper {
    padding: 1rem;
    @include mx.flexColCenter();
    .work-cards-card {
      width: 85%;
    }
  }
}

@media all and (max-width: 767px) {

  .works-intro-wrapper {
    .works-intro-text {
      width: 90%;
    }
  }
}

@media all and (max-width: 991px) {

  .landscape-wrapper {
    .landscape-title {
      margin-bottom: 0.5rem;
    }
  }

  .work-cards-wrapper {
    .work-cards-card {
      .work-cards-title {
        margin-bottom: 0.5rem;
      }
    }
  }
}